<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Data</title>
  <!-- link to bootstrap stylesheet -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- link to css stylesheet -->
  <link rel="stylesheet" type="text/css" href="./static/css/style.css">
</head>

<body class="background">
    <nav class="navbar navbar-expand-lg navbar-light" id = "navbar-rectangle">
      <a class="navbar-brand" id = "navbar-header" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Data
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/pie_table">Pie Chart Data</a>
                <a class="dropdown-item" href="/bar_table">Bar Chart Data</a>
                <a class="dropdown-item" href="/bubble_table">Bubble Chart Data</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/map_table">Choropleth Map Data</a>
                <a class="dropdown-item" href="/map_data/ourJson.geojson" target=”_blank>GeoJSON</a>
            </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/electorates_map" target=”_blank”>Map</a>
            </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      
        <div class="row">
        <br>
        <h1>About</h1>
        
        </div>
        <hr>
        
        <div class="row">
        <p class="about">
          The Australian Marriage Law Postal Survey was an optional survey run between 12th September and 17th November 2017. 
          The survey asked “should the law be changed to allow same-sex couples to marry?”, with respondents required to mark either the ‘Yes’ box or ‘No’ box. 
          <br><br>
          This webpage explores the results of the survey in relation to the 2016 Federal Election, electorate characteristics and survey participation.
          <br><br>
          The home page displays three visualisations that can be filtered by State:
          <ul>
            <li>The Pie chart represents the overall percentage of ‘Yes’ and ‘No’ votes in the Marriage Postal Survey, per state.</li>
            <li>The horizontal stacked bar chart visualises the survey respondents by age. Each bar represents a different electorate from the selected state.</li>
            <li>The bubble chart explores the Marriage Postal Survey, the Federal Election and electorate characteristics. 
              Each bubble represents an electorate from the selected state, where the size of the bubble is determined by the percentage of ‘Yes’ votes for that electorate in the Marriage Postal Survey. 
              The y-axis value represents the percentage of the population within that electorate with a higher education. 
              The percentage of labor votes in the Federal Election for each electorate is represented on the x-axis. 
              This percentage is out of the total Labor and Liberal votes for the electorate, so represents a scale of whether each electorate is more Labor leaning or Liberal leaning. 
              A colour scale is also applied so that the colour of the bubbles changes from blue to red depending on how Labor or Liberal that electorate voted.</li>
          </ul>
          <br><br>
          The ‘Map’ option in the navigation bar leads to a choropleth map which shows the Federal Electorates coloured in proportion to the percentage of ‘Yes’ responses in the Marriage Postal Survey. 
          The map was created using the choropleth leaflet plugin and a Geojson file. It also features a leaflet loading symbol plugin. This tells the user when the page is loading after a zoom button has been selected, or the map has been moved.
          <ul>
            <li>The Leaflet-choropleth plugin can be found <a href="https://github.com/timwis/Leaflet-choropleth" target="_blank">here.</a></li>
            <li> The Leaflet.loading plugin can be found <a href="https://github.com/ebrelsford/Leaflet.loading" target="_blank"> here.</a></li>
          </ul>
          <br><br>
          The ‘Data’ tab in the navigation bar has a drop down menu with an option for five data sources. The first three options link to the tables used to create the visualisations on the ‘Home’ page. 
          The fourth data source is a table of characteristics and statistical information that was used for the map, while the final data source is the GeoJSON.

        </p
        </div> 
    </div>
  


  <!-- this helps the navbar drop down-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body>

</html>
